.container{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 40%;
    min-height: 250px;
    margin: 10px auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);

}

.todo-input{
    margin: 5px;
    line-height: 30px;
    width: 95%;
}

.todo-container{
    width: 95%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}